<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    mybatis 使用接口进行数据CRUD
    注意：
        1. 映射的文件的namespace值 要是 接口的全路径名称  表示这个映射文件 与 该接口绑定
        2. 映射中文件中命令的ID 值要和对应的接口中方法名一致  参数无关
-->
<mapper namespace="com.com.zx.dao.IUserDao">
     <!--
        注意 此时 id 值 与 接口中的方法名一致    必须一致
    -->
    <select id="selectUser" resultType="com.com.zx.pojo.User">
        select id,name,age,sex from user where id = #{id}
    </select>

    <select id="selectAdd" resultType="com.com.zx.pojo.User">
        select id,name,age,sex from user
    </select>

    <select id="insert">
        insert into user value (0,#{name},#{age},#{sex})
    </select>

    <update id="update">
        update user set
            name = #{name},
            age = #{age},
            sex = #{sex},
        where id = #{id}
    </update>

    <delete id="delete">
        delete from user where id = #{id}
    </delete>
</mapper>